<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Add Character</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show">
        <button type="button" class="close" data-bs-dismiss="alert"> 
          &times; 
        </button>
        {{ message }}
      </div>
    {% endfor %}
  </div>
  <main>  
    <form method="POST">
      {# CSRF Protection #}
      {{ form.hidden_tag() }}
      {# add name field's label and input elements #}
      <table>
        <tr>
          <td>
            {{ form.name.label }}
            {{ form.name() }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.strength.label }}
            {{ form.strength() }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.dexterity.label }}
            {{ form.dexterity() }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.constitution.label }}
            {{ form.constitution() }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.intelligence.label }}
            {{ form.intelligence() }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.wisdom.label }}
            {{ form.wisdom() }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.charisma.label }}
            {{ form.charisma() }}
          </td>
        </tr>
        <tr>
          <td>
            {# add submit button #}
            {{ form.submit() }}
          </td>
        </tr>
      </table>
    </form>
  </main>
</body>
</html>