<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand"> Home {{user}} </a>
          </div>
          <div class="d-flex">
            <button style="" class="btn btn-outline-success my-2 my-sm-0" type="logout" href="/"> logout </button>
            <button style="" class="btn btn-outline-success my-2 my-sm-0" type="logout" href="/characters/"> Character </button>
          </div>
        </nav>
      </header>
    <body>
        <h1> hey {{gameID}} </h1>
    </body>
</html>