<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Welcome Back  {{user.username}} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <header>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" style="font-weight:bold"> Welcome Back  {{user.username}} </a>
        </div>
        <div class="d-flex">
          <a style="" class="btn btn-outline-success mx-2 my-2 my-sm-0" type="submit" href="{{url_for('viewCharacters')}}"> Characters </a>
          <a style="" class="btn btn-outline-success my-2 my-sm-0" type="logout" href="{{url_for('get_logout')}}"> Logout </a>
        </div>
      </nav>
    </header>
    <body>
        <div class="row mx-1 col d-flex justify-content-center">
            {% for game, player in gameList %}
            <div class="col-md-3">
                <div class="card my-2">
                    <div class="card-body">
                      <h5 class="card-title"> {{game.name}} </h5>
                      <p class="card-text"> {{game.description}} </p>
                      <a class="btn btn-primary" href="/{{user.id}}/game/{{game.id}}"> Join Game </a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>

        <div style="position:absolute; bottom:20px; text-align:center; width:100%">
          <p> <a class="btn btn-outline-success btn-md" type="createGame" href="{{url_for('addGame')}}"> Add Game </a>  </p>
        </div>
    </body>
</html>