<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
  <header>
    <div class="container">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show">
          <button type="button" class="close" data-bs-dismiss="alert"> 
            &times;
          </button>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  </header>
  <main>
  <div class="p-4"><h3> Create New Account </h3></div>
    <form method="POST">
      {{form.hidden_tag()}}
      <div class="row mx-2 col-md-4">{{form.username.label(class="form-control-label")}} {{form.username(class="form-control")}}</div>
      <br>
      <div class="row mx-2 col-md-4">{{form.password.label(class="form-control-label")}} {{form.password(class="form-control")}}</div>
      <br>
      <div class="row mx-2 col-md-4">{{form.confirm_password.label(class="form-control-label")}} {{form.confirm_password(class="form-control")}}</div>
      <br>
      {{form.submit(class="btn my-2 mx-4 btn-outline-info")}}
    </form>
  </main>
  <footer>
    <div class="p-4">
    Click <a href="{{url_for('get_login')}}">here</a> to login.
    </div>
    <br>
  </footer>
</body>
</html>