<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand"> Characters </a>
          </div>
          <div class="d-flex">
            <a style="" class="btn btn-outline-success mx-2 my-2 my-sm-0" type="submit" href="{{url_for('viewCharacters')}}"> Characters </a>
            <a style="" class="btn btn-outline-success my-2 my-sm-0" type="logout" href="{{url_for('get_logout')}}"> logout </a>
          </div>
        </nav>
      </header>
    <body>
        <div class="row mx-1">
            {% for char in charList %}
            <div class="col-md-3">
                <div class="card my-2">
                    <div class="card-body">
                      <h5 class="card-title"> {{char.name}} </h5>
                      <p class="card-text"> 
                            Str: {{char.strength}}
                           <br>
                           Dex: {{char.dexterity}}
                           <br>
                           Con: {{char.constitution}}
                           <br>
                           Int: {{char.intelligence}}
                           <br>
                           Wis: {{char.wisdom}}
                           <br>
                           Cha: {{char.charisma}}
                        </p>
                      <a class="btn btn-primary" href="#"> Edit </a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>

        <a style="position:absolute;bottom:10px;right:10px;margin:0;padding:5px 3px;" class="btn btn-outline-success my-2 my-sm-0" type="createGame" href="/characters/"> Add Character </a>
    </body>
</html>