#sidebarHead {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}



#openChat-btn {
    background-color: inherit;
    box-sizing: border-box;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    float: left;
}

#openCharEdit-btn {
    background-color: inherit;
    box-sizing: border-box;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    float: right;
}

#sidebarHead button:hover {
    background-color: mediumseagreen;
}

#sidebarHead button:focus {
    background-color: mediumseagreen;
}

#sidebarHead button:active {
    background-color: mediumseagreen;
}