#sidebarHead {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabButton {
    background-color: inherit;
    box-sizing: border-box;
    border: solid grey;
    outline: none;
    cursor: pointer;
    padding: 14px 37px;
    transition: 0.3s;
    min-width: 116px;
}

.inputBox {
    max-width: 120px; 
    font-size: 16px;
    border: 1px solid #ccc;
}

#openChat-btn {
    background-color: rgb(34, 105, 65);
}

#openCharEdit-btn {
    background-color: mediumseagreen;
}

#sidebarHead button:hover {
    background-color: rgb(34, 105, 65);
    
}
